{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Repository edit
    </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <hr />
        <a href="{{ path('repository_index') }}">&laquo; Back to the list</a>
        <button class="btn btn-primary pull-right" type="submit">Save</button>
    {{ form_end(form) }}

    <hr />

    {{ form_start(delete_form) }}
        <input class="btn btn-danger pull-right" type="submit" value="Delete" />
    {{ form_end(delete_form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.repositories-collection').collection({
            allow_up: false,
            allow_down: false,
            up: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>',
            down: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>',
            add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>',
            remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>',
            add_at_the_end: true
        });
        $('.packages-collection').collection({
            allow_up: false,
            allow_down: false,
            up: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>',
            down: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>',
            add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>',
            remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>',
            add_at_the_end: true
        });
        $('.users-collection').collection({
            allow_up: false,
            allow_down: false,
            up: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>',
            down: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>',
            add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>',
            remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>',
            add_at_the_end: true
        });
    </script>
{% endblock %}
